<div class='hero-unit top'>
  <div class='row'>
    <h3 class='center'>Better luck next time. Click below to start over.</h3>
    <div class="center"><a href="/new_form" class="btn btn-primary">Start Over</a></div>
  </div>
</div>